<html>
  <head>
    <title>My Book Application</title>
    <!-- Add your common stylesheets, scripts, etc. -->
  </head>
  <body>

    <div class="main-content">
      {{{body}}}
      <!-- This is where specific page content will be injected -->
    </div>

  </body>
</html>